*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
/.idea/caches
/.idea/artifacts
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
/.idea/copyright/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/gradle.xml

/.idea/render.experimental.xml
/.idea/runConfigurations.xml
/.idea/misc.xml
/.idea/.name
/.idea/compiler.xml
/.idea/deploymentTargetSelector.xml
/.idea/encodings.xml
/.idea/kotlinc.xml
/.idea/migrations.xml
/.idea/**
